.container{
  padding: 25px 15px;
  display: flex;
  :global{
    .left{
      width: 78.462px;
      margin-right: 10px;
    }
    .right{
      flex: 1;
      .box{
        .item{
          margin-bottom: 10px;
        }
      }
    }
  }
}