.container{
  padding: 290px 15px 170px;
  background: #1B1B1F;
  :global{
    .confirm{
      width: 317.866px;
      height: 41.118px;
      border-radius: 41.118px;
      text-align: center;
      line-height: 41.118px;
      color: #FFF;
      font-family: Inter;
      font-size: 17.313px;
      font-style: normal;
      font-weight: 400;
      background: linear-gradient(91deg, #6E6AF5 20.09%, #7F3CE3 61%, #522F7F 96.35%);
      margin: 0 auto;
    }
  }
}