.container{
  min-height: 100vh;
  background: #1C1E21;
  padding-top: 50px;
  :global{
    .content-box{
      padding: 24px 18px 20px;
      .code-box{
        background: url('/assets/commission/code-bg.png') no-repeat;
        background-size: cover;
        border-radius: 10px;
        padding: 20px 20px 8.5px;
        display: flex;
        .qr{
          text-align: center;
          width: 82.56px;
          margin-right: 20px;
          img{
            width: 82.56px;
            height: 82.63px;
          }
          p{
            color: #959EA8;
            font-family: Inter;
            font-size: 10.372px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            margin-top: 7.2px;
          }
        }
        .text{
          flex: 1;
          color: #959EA8;
          font-family: Inter;
          font-size: 16.131px;
          font-style: normal;
          font-weight: 400;
          line-height: 1.5;
          span{
            color: #FFC600;
          }
        }
      }
    }
  }
}